<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<!-- to use the latest rendering engine in case it doesn't-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Adjusts the viewport and the scale of the browser -->
<meta name="viewport" content="width = device-width, initial-scale = 1" />

<!-- Bootstrap CDN in order to have support for Bootstrap's CSS and js -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- in order to include tether for BS 4 -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

<link rel="stylesheet" href="signin.css" />
<title>Login</title>

</head>

<body>

	<!-- container class in order to tell BS to treat it as a container and it is usually container -->
	<div class="container">
		<form action="/incident" th:object="${IncidentInfo}" id="Datos"
			class="form-incident" method="post">
			<h2>Incident</h2>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="login">Incident Name:</label>
				<input id="name" name="name" type="text" class="hero-input form-control"/>
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="description">Description:</label>
				<input id="description" name="description" type="text"
					class="hero-input form-control"/>
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="location">Location:</label>
				<input id="location" name="location" type="text"
					class="hero-input form-control" placeholder="In format: 10N10W" />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="asignee">Assignee:</label>
				<input id="asignee" name="asignee" type="text"
					class="hero-input form-control" placeholder="Id of the agent to assign" />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="expiration">Expiration:</label>
				<input id="expiration" name="expiration" type="text"
					class="hero-input form-control" placeholder="In timestampt format" />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="state">State:</label> <input
					id="state" name="state" type="text" class="hero-input form-control"
					placeholder="One of the following options: open, close..." />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="tags">Tags:</label> <input
					id="tags" name="tags" type="text" class="hero-input form-control"
					placeholder="Enter the tags separated by commas" />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="multimedia">Multimedia:</label>
				<input id="multimedia" name="multimedia" type="text"
					class="hero-input form-control" placeholder="Add your multimedia links separated by commas" />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="properties">Properties:</label>
				<input id="properties" name="properties" type="text"
					class="hero-input form-control"
					placeholder="Enter the properties in the followin format: key:value, key:value..." />
			</div>
			<button id="Enter" name="Enter" type="submit" value="enter"
				class="hero-button btn btn-block">Send incident to the system</button>
		</form>

	</div>

</body>

</html>