<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<!-- to use the latest rendering engine in case it doesn't-->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Adjusts the viewport and the scale of the browser -->
<meta name="viewport" content="width = device-width, initial-scale = 1" />

<!-- Bootstrap CDN in order to have support for Bootstrap's CSS and js -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- in order to include tether for BS 4 -->
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

<link rel="stylesheet" href="signin.css" />
<title>Incident Manager Sign in</title>

</head>

<body>

	<!-- container class in order to tell BS to treat it as a container and it is usually a container -->
	<div class="container">
		<img class="hero-manager-logo" src="https://media.githubusercontent.com/media/Arquisoft/InciManager_i3a/master/src/main/resources/static/img/inci-manager-logo.png" alt="gestusers-manager">
		
		<form action="/login" id="Datos" th:object="${UserInfo}"
			class="form-signin" method="post">
			<h1>Sign in</h1>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="login">Username:</label>
				<input id="login" name="login" type="text" class="hero-input form-control"
					placeholder="Identifier" />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="password">Password:</label>
				<input id="password" name="password" type="password"
					class="hero-input form-control" placeholder="Password" />
			</div>
			<div class="form-group">
				<label class="hero-label control-label col-sm-2" for="kind">Kind of agent:</label>
				<select id="kind" name="kind" class="hero-input form-control">
					<option value="1">Person</option>
					<option value="2">Entity</option>
				</select>
			</div>
			<button id="Enter" name="Enter" type="submit" value="enter"
				class="hero-button btn btn-block">Login in to your agent account</button>
			<div class="hero-legal-text-row">
			<p>
			You are about to login in a critical system application. Any unauthorized access will be reported to authorities.
			</p>	
			</div>
		</form>

	</div>

</body>

</html>
